{% extends "::base.html.twig" %}

{% block body %}
    <div id="menu">
        {{ render(controller("AppBundle:Menu:menu"),{ 'max': 1 }) }}
    </div>
    <div id="login">
        {{ render(controller("FOSUserBundle:Security:login"),{ 'max': 1 }) }}
    </div>
    {% block content %}{% endblock %}
{% endblock %}